.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none !important;
  outline-style: none;
  box-shadow: none;
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none;
  box-shadow: none;
}

$btn-focus-box-shadow : none !important;
