/**
*.banner .nav li {
*  @extend .nav-item;
*}
*
*.banner .nav a {
*  @extend .nav-link;
*}
*/

nav.navbar {
  min-height: 65px;
  font-family: 'lato', Arial, sans-serif;
  border-color: $dark !important;
  margin-top: -1px;

  li {
    min-width: 114px;
  }

  a.nav-link {
    font-size: 14px;
  }
}

#menu-item-31 {
  display: none;

  a.nav-link {
    bottom: +8px;
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) {
  #menu-item-31 {
    display: inline;
  }

  nav.navbar {
    li {
      height: 49px;
    }

    a.nav-link {
      position: relative;
      bottom: -8px;
    }
  }
}

/*
 * nav arrow
 */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 30px solid map-get($theme-colors, navbar);
  margin-top: -1px;
}

.button:focus,
.button:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
}
