//initial image size from hexal = 180 x 206px
//for the css trick, the padding-bottom = width * 1/sqrt(3) * 2
//ul width for lg viewport = 900px
//ul width for md viewport = 690px
//ul width for sm viewport = 510px

.portfolio {
  text-align: center;

  .clear::after {
    content: "";
    display: block;
    clear: both;
  }

  #grid {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;

    .rw {
      text-align: center;

      &:first-child {
        margin-top: 5.1961524%;
      }

      &:not(:first-child) {
        margin-top: -5.1961524%;
      }

      @include media-breakpoint-down(md) {
        &:first-child {
          margin-top: 8.66025%;
        }

        &:last-child {
          margin-bottom: 8.66025%;
        }

        &:not(:first-child) {
          margin-top: -8.66025%;
        }
      }

      @include media-breakpoint-up(lg) {
        &:last-child {
          margin-bottom: 10.3922%;
        }
      }

      .hex-wrap {
        list-style-type: none;
        display: inline-block;
        width: 18%;
        padding: 0 0 20.7846096908% 0;
        transform: rotate(-60deg) skewY(30deg);
        overflow: hidden;
        visibility: hidden;
        margin-right: 1%;

        * {
          visibility: visible;
        }

        @include media-breakpoint-down(md) {
          width: 30%;
          padding: 0 0 34.64101615% 0;

          &.hex-md-dnone {
            display: none;
          }
        }

        @include media-breakpoint-up(lg) {
          &.hex-lg-dnone {
            display: none;
          }
        }

        &:first-child {
          margin-left: 1%;
        }

        .hexagon {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -o-transform: skewY(-30deg) rotate(60deg);
          -moz-transform: skewY(-30deg) rotate(60deg);
          -webkit-transform: skewY(-30deg) rotate(60deg);
          -ms-transform: skewY(-30deg) rotate(60deg);
          transform: skewY(-30deg) rotate(60deg);
          overflow: hidden;

          @mixin back_img($i) {
            background-image: url('../images/portfolio/image_' + $i +'.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }

          @for $i from 1 through 13 {
            &.i#{$i} {
              @include back_img($i);
            }

            //replace possibly offensive images
            &.i13 {
              @include back_img(12);
            }
          }
        }
      }
    }
  }
}
